<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://achievementsanddescriptions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7fad1a77-e686-4b19-9b02-e382ebef8372/resourceGroups/SAWA_DEV_ENV/providers/Microsoft.Web/sites/AchievementsAndDescriptions</ResourceId>
    <UserName>$AchievementsAndDescriptions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://achievementsanddescriptions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>